body{
    background-color: #F3F2C9;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.navContainer{
    background: #003638;
}

.mainTitle{
    font-weight: bold;
    font-size: larger;
    color: #F3F2C9;
}
.nav-link{
    color: #F3F2C9;
}
.heroeContainer{
    background-color: #F3F2C9;
    padding-left: 5%;
    padding-right: 5%;
}
.heroeTagline{
    color: #003638;
}
.heroeDescription{
    color: #055052;
}
.btnContact{
    color: #F3F2C9;
    background-color:#003638 ;
}
.btnContact:hover{
    color: #F3F2C9;
    background-color:#055052 ;
}
#featured{
    background-color: #F3F2C9;
}
.featuresTxt{
    color: #003638;
    margin-bottom: 2rem;
}
.featureCardsContainer{
   background-color: #055052;
}
.featureCard{
background-color:#055052 ;
color: #F3F2C9;
}
.footerContainer{
    background: #003638;
    margin-top: 2rem;
}
.cprtTxt{
    color: #F3F2C9;
   
}



/* blog page */

.page-title{
    color: #055052;
    margin-left: 20%;
    margin-top: 2rem;
}
.blogs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
}

.blog-post-container{
    width: 360px;
    padding: 2% 2%;
    margin: 0.3rem;
    margin-top: 2rem;
    color: #003638;
    background-color: #fff;
    border: #003638 solid;
    border-radius: 9px 9px 9px 9px;
    transform: 1.5s;
    
 
}
.blog-post-container:hover{
    box-shadow: 4px 15px 24px 0px rgba(0,54,56,1);
}

.date-and-author{
    color: #055052;
    text-decoration: underline;
}
.btn-readmore
{
    background-color: #003638;
    color: #F3F2C9;
}
.btn-readmore:hover{
    background-color: #055052;
}

/* about page */

.mission-vision-values{
    background-color: #fff;
    color: #003638;
}
.mission-container{
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 2rem;
    
}
.about-img{
    width: 100%;
}