body{
    background-color: #F3F2C9;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.navContainer{
    background: #003638;
}

.mainTitle{
    font-weight: bold;
    font-size: larger;
    color: #F3F2C9;
}
.nav-link{
    color: #F3F2C9;
}



/* footer */

.footerContainer{
    background: #003638;
    margin-top: 2rem;
}
.cprtTxt{
    color: #F3F2C9;
   
}


/* appointment */

.appointment{
    width: 50%;
    margin-left: 20%;

}
.btnContact{
    color: #F3F2C9;
    background-color:#003638 ;
}
.btnContact:hover{
    color: #F3F2C9;
    background-color:#055052 ;
}


/* services */


.services-headline{
    color: #055052;
    margin-left: 10%;
}
.services-img{
    mix-blend-mode:darken;
}
.services-card-container{
    margin: 3% 5% ;
    padding: 3%;
    color: #003638;
    background-color: #fff;
    border: #003638 solid;
    border-radius: 9px;
} 
.services-card{
    color:#003638 ;
}

